# FOR LOOPS

In [4]:
snacks  = ['Chips','Burger','Pizza','KFC']

for snack in snacks:
    print("Current Snacks: ",snack)
print('Good Day')

Current Snacks:  Chips
Current Snacks:  Burger
Current Snacks:  Pizza
Current Snacks:  KFC
Good Day

In [5]:
snacks  = ['Pizza','Burger','KFC','Chips']

for i in snacks:
    print("Current Snack: ",i)

Current Snack:  Pizza
Current Snack:  Burger
Current Snack:  KFC
Current Snack:  Chips

In [6]:
range(0,5)

range(0, 5)

In [8]:
a = list(range(0,15))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
 a = tuple(range(0,15))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [13]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
for i in range(1,15):
    print("20 hours of Class1: ",i)

20 hours of Class1:  1
20 hours of Class1:  2
20 hours of Class1:  3
20 hours of Class1:  4
20 hours of Class1:  5
20 hours of Class1:  6
20 hours of Class1:  7
20 hours of Class1:  8
20 hours of Class1:  9
20 hours of Class1:  10
20 hours of Class1:  11
20 hours of Class1:  12
20 hours of Class1:  13
20 hours of Class1:  14

In [15]:
for num in range(0,15,2):
    print("Even Number: ",num)

Even Number:  0
Even Number:  2
Even Number:  4
Even Number:  6
Even Number:  8
Even Number:  10
Even Number:  12
Even Number:  14

In [18]:
num = [2,3,5]
sum = 0
for numbers in num:
    sum += numbers
print(sum)

10

In [20]:
numbers = [1,2,3,4,5,6,20,45,84]
get_sum = [i+2 for i in numbers]
print(get_sum)

[3, 4, 5, 6, 7, 8, 22, 47, 86]

In [22]:
number = [1,3,5,8]
sum1 = [i+3 for i in number if i < 5]
sum1

[4, 6]

In [24]:
num = int(input("Enter Number: "))
fact = 1

if num < 0:
    print("Number must be Positive")
elif num == 0:
    print("Factorial: 1")
else:
    for i in range(1,num+1):
        fact = fact * i
    print("FACTORIAL: ",fact)

Enter Number: 5
FACTORIAL:  120

# PASS

In [25]:
names = ['Teja','ARavind','Nagaraju','Gayathri']
for i in names:
    pass

# CONTINUE

In [26]:
names = ['Teja','ARavind','Nagaraju','Gayathri']

for i in names:
    if len(i) == 3:
        continue
    print('My name is ',i)

My name is  Teja
My name is  ARavind
My name is  Nagaraju
My name is  Gayathri

# BREAK

In [33]:
names = ['Teja','ARavind','Nagaraju','Gayathri']

for i in names:
    if len(i) == 6:
        break
    print(i)

Teja
ARavind
Nagaraju
Gayathri

In [35]:
for i in range(1,11):
    if i == 9:
        break
    print(i)

1
2
3
4
5
6
7
8