# Function call Stack

In [2]:
x = 5 #Global Variable
def func(x):
    print(x)
func(x)

5

In [8]:
x = 5
def funv():
    x = 20 #Local Variable
    print(x)
funv()

print(x)

20
5

In [15]:
age = 23
name = 'Teja'
places  = ['Nagpur','Mumbai','Pune']

def local():
    age = 25
    name = 'Aravind'
    print("%s is %i years old and lives in %s" %(name,age,places[1]))
    return
local()

print("%s is %i years old and lives in %s" %(name,age,places[2]))

Aravind is 25 years old and lives in Mumbai
Teja is 23 years old and lives in Pune

In [17]:
x = 5
def new():
    global x
    print("Number is ",x)
new()

print(x)

Number is  5
5

# Recursion

In [7]:
def fact(n):
    if n < 0:
        print("N should be Positive")
    elif n == 0:
        print("The Factorial of 0 is 1")
    else:
        fact = 1
        for i in range(1,n+1):
            fact = fact *  i
            print(f'Factorial of {n} is {fact}')
fact(10)

Factorial of 10 is 1
Factorial of 10 is 2
Factorial of 10 is 6
Factorial of 10 is 24
Factorial of 10 is 120
Factorial of 10 is 720
Factorial of 10 is 5040
Factorial of 10 is 40320
Factorial of 10 is 362880
Factorial of 10 is 3628800

In [15]:
def fact(n):
    if n < 0:
        print("N sholud be positive")
    elif (n == 0):
        print("Factorial of 0 is 1")
    elif n == 1:
            return 1
    else:
        return(n * fact(n-1))
fact(5)

120

# List Comprehensions

In [16]:
symbols  = '$'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
codes

[36]

In [18]:
new_list = [i for i in range(12) if i % 2 == 0]
print(new_list)

[0, 2, 4, 6, 8, 10]

In [19]:
new_list = [i for i in range(12) if i % 2 == 1]
print(new_list)

[1, 3, 5, 7, 9, 11]

# Dictonary Comprehension

In [23]:
numbers  = range(10)
print(numbers)

dict1 = {}

for i in numbers:
    if i % 3 == 0:
        dict1[i] = i ** 2
print(dict1)

range(0, 10)
{0: 0, 3: 9, 6: 36, 9: 81}

In [24]:
dcit1 =  {n: n**2 for n in numbers if n % 2 == 0}
print(dcit1)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [25]:
dict2 = {'a':1,'b':2,'c':3,'d':4,'e':6,'f':9}
dict2_keys = {k * 2 : v * 2 for (k,v) in dict2.items()}
print(dict2_keys)

{'aa': 2, 'bb': 4, 'cc': 6, 'dd': 8, 'ee': 12, 'ff': 18}

# ZIP AND UNZIP

In [26]:
names = ['Teja','Aravind','Balaji','Swathi']
roll = [1,2,3,4]
marks = [80,90,98,99]

mapped = zip(names,roll,marks)

mapped = set(mapped)

print("The zipped list is:")
print(mapped)

The zipped list is:
{('Aravind', 2, 90), ('Teja', 1, 80), ('Balaji', 3, 98), ('Swathi', 4, 99)}

In [ ]:
# namz,rollz,markz = zip(*mapped)

print("The unzipped result: \n",end = "")
print("The name list is ",end="")
print(namz)
print("The unzipped result: \n",end = "")
print("The Roll Number list is ",end="")
print(rollz)
print("The unzipped result: \n",end = "")
print("The Marks list is ",end="")
print(markz)

# Build In Sort Functions

In [1]:
animals  = ['dog','cat','sheep','goat','elephant']
sorted(animals)

['cat', 'dog', 'elephant', 'goat', 'sheep']

In [2]:
animals  = ['dog','cat','sheep','goat','elephant']
sorted(animals,reverse = True)

['sheep', 'goat', 'elephant', 'dog', 'cat']

In [3]:
animals  = ['dog','cat','sheep','goat','elephant']
sorted(animals,key = len)

['dog', 'cat', 'goat', 'sheep', 'elephant']

In [4]:
animals  = ['dog','cat','sheep','goat','elephant']
sorted(animals,key = len , reverse = True)

['elephant', 'sheep', 'goat', 'dog', 'cat']

In [6]:
animals.sort()
animals

['cat', 'dog', 'elephant', 'goat', 'sheep']

# Agumneted assignment with sequences

In [10]:
l = [1,2,3,4,5,6] #same memory Location
print(id(l),l)

l = l *  2
print(id(l),l)

1723172851648 [1, 2, 3, 4, 5, 6]
1723172829504 [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [13]:
t = (8,3,5,2,9,2,7,6,3,3,6) #Different memory location
print(id(t),t)

t *= 2
print(id(t),t)

1723172720832 (8, 3, 5, 2, 9, 2, 7, 6, 3, 3, 6)
1723172203968 (8, 3, 5, 2, 9, 2, 7, 6, 3, 3, 6, 8, 3, 5, 2, 9, 2, 7, 6, 3, 3, 6)

# Lambada Functions

In [14]:
s = lambda x : x + 4
s(2)

6

# Map

filter(function,iterable)

In [15]:
val = [1,2,3,4,5,6,7,8,9]

list(map(lambda x: x * 2,val))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
list(map(str,val))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

# Filter

In [18]:
val = [1,2,3,4,5,6,7,8,9]

list(filter(lambda x: x % 2, val))

[1, 3, 5, 7, 9]

In [21]:
list(filter(lambda x: x < 50, list(range(1,100))))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

# Reduce

In [23]:
from functools import reduce

val = [1,2,3,4,5]

reduce(lambda x, y: x * y,val)

120

In [25]:
reduce(lambda x , y : x + y, list(range(1,100)))

4950

# LOOPS VS COMPREHENSION VS MAP

In [27]:
list1 = [1,2,3,4,5]
squares = []

for i in list1:
    squares.append(i ** 2)

squares1 = [i ** 2 for i in list1]

squares3 = list(map(lambda x : x ** 2,list1))

print(squares)
print(squares1)
print(squares3)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]