# FUNCTIONS

In [12]:
#Functions defines by users is known as User-defined Function

string = [900,855,398,4,74,64,'Teja']

def fun(l):
    l.reverse()
    return l

reversed  = fun(string)
print(reversed)

['Teja', 6, 5, 4, 3, 2, 1]

In [15]:
list2 = ['aabhjb','dbv','idjd','jkv']
print(fun(list2))

['jkv', 'idjd', 'dbv', 'aabhjb']

# Tuples

In [16]:
# Tuple is Immutable

tupl = ("Teja","Aravind","Nagaraju","Gayathri",852963)
print(tupl)

('Teja', 'Aravind', 'Nagaraju', 'Gayathri', 852963)

In [17]:
tupl1 = (2,5,7,3,5,6,4)
print(tupl1)

(2, 5, 7, 3, 5, 6, 4)

In [18]:
tup  = ()
print(tup)

()

In [20]:
print(type(tup))

<class 'tuple'>

In [21]:
id(list2)

2154081354944

In [22]:
id(tup)

140735949600216

In [23]:
tupl[1] = 'a'
print(tupl)

TypeError: 'tuple' object does not support item assignment

In [24]:
tupl.pop()

AttributeError: 'tuple' object has no attribute 'pop'

Tuple cannot be modified

# SETS

In [26]:
normal_set = set(['a','b','c','d'])
print(normal_set)

{'a', 'b', 'c', 'd'}

In [28]:
normal_set.add('e')
print(normal_set)

{'c', 'a', 'e', 'b', 'd'}

In [32]:
normal_set.add('e')
print(normal_set)

{'c', 'a', 'e', 'b', 'd'}

In [37]:
frozen = frozenset([1,2,3,4,5,6,7])
print(frozen)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [38]:
frozen.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [43]:
set1 = set()
set2 = set()

print(set1,set2)

for i in range(0,10):
    set1.add(i)
print(set1)
for j in range(0,20):
    set2.add(j)
print(set2)

set() set()
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [44]:
union = set1|set2
print(union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [45]:
set3 = set1 & set2
print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
set4 = set2-set1
print(set4)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [48]:
if set3 > set4:
    print("Set3 is Greater than Set4")
elif(set4 > set3):
    print("Set4 is Greater then Set3")
else:
    print("Both sets are equal")

Both sets are equal