In [2]:
list1 = [11,21,55,39,45,67,89,75,79]

for num in list1:
    if num % 2 == 0:
        print("List contains Even Numbers")
else:
    print("List doest not contain Even Numbers")

List doest not contain Even Numbers

In [4]:
# Enumurate the Objestd of a list with Sequential numbers

names = ['Teja','Aravind','Nagaraju','Gayathri']

list(enumerate(names))

[(0, 'Teja'), (1, 'Aravind'), (2, 'Nagaraju'), (3, 'Gayathri')]

In [6]:
names  = ['Teja','Aravind','Nagaraju','Gayathri']

for i,j in enumerate(names):
    print('Index is {0} and values oif Index is {1}'.format(i,j))

Index is 0 and values oif Index is Teja
Index is 1 and values oif Index is Aravind
Index is 2 and values oif Index is Nagaraju
Index is 3 and values oif Index is Gayathri

# While Loop

In [1]:
i = 0 
while i <= 10:
    print("Number is ",i)
    i = i+1

Number is  0
Number is  1
Number is  2
Number is  3
Number is  4
Number is  5
Number is  6
Number is  7
Number is  8
Number is  9
Number is  10

In [2]:
i = 0
while i < 10:
    pass
    i = i+1

In [3]:
i = 0
while i < 10:
    i = i + 1
    if i == 5:
        continue
    print('Number is ',i)

Number is  1
Number is  2
Number is  3
Number is  4
Number is  6
Number is  7
Number is  8
Number is  9
Number is  10

In [4]:
i = 0
while i < 10:
    i = i + 1
    if i == 5:
        break
    print('Number is ',i)

Number is  1
Number is  2
Number is  3
Number is  4

In [5]:
i = 0
while i < 10:
    print(i)
    i = i+1
else:
    print('Loop Ended')

0
1
2
3
4
5
6
7
8
9
Loop Ended

# NESTED LOOPS

Here we can use loop inside a loop more than one times

In [11]:
list1 = [[1,2,3,4,5],[6,7,8,9,0]]
print(list1,'\n')

for i in list1:
    for j in i:
        print('Square of',j,'is ',j ** 2)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 0]]

Square of 1 is  1
Square of 2 is  4
Square of 3 is  9
Square of 4 is  16
Square of 5 is  25
Square of 6 is  36
Square of 7 is  49
Square of 8 is  64
Square of 9 is  81
Square of 0 is  0

# FUNCTIONS

In [13]:
def sayhello():
    print("Hello")
sayhello()

Hello

In [21]:
def hello(name,age,sal):
    print("Hi My name is",name,"i am",age,'years old and my salary is',sal)
hello('Teja',21,50000)

Hi My name is Teja i am 21 years old and my salary is 50000

In [23]:
def add(a,b):
    return a+b
add(2,5)

7